/* FONTS */
@font-face {
    font-family: "anton";
    src: url(../fonts/Anton-Regular.ttf);
}
@font-face {
    font-family: "gasoek";
    src: url(../fonts/GasoekOne-Regular.ttf);
}
@font-face {
    font-family: "promptbold";
    src: url(../fonts/Prompt-Bold.ttf);
}
@font-face {
    font-family: "promptxtra";
    src: url(../fonts/Prompt-ExtraBold.ttf);
}
@font-face {
    font-family: "promptlight";
    src: url(../fonts/Prompt-Light.ttf);
}

h1 {
    font-family: anton;
    font-size: 100px;
    color:#532E31;
}
.burgermenu {
    font-family: promptxtra;

}
nav.active .burgermenu, .burgera {
    font-size: 20px;
    text-align: end;
  }

h2, h3, h4 {
    font-family: promptxtra;
}
p {
    font-family: promptlight;
}
.footerabout {
    font-family: promptbold;
}

/* FARVER */

body {
    background-color: #914E56;
}

footer {
    background-color: #914E56;
}
a {

    text-decoration: none;
    color:#532E31;
}
.burgera {
    color:#d6d5d5;
  }
a:hover {
  color: #e6d389;
  border-bottom:#e6d389 1px solid;
}
.hover-link:hover {
    color:#532E31;
    border-bottom: #532E31 1px solid;
    
    
}
.projects {
    background-color: #dcd2ab;
  }
  .blue {
    background-color:#C8D7D3;
}

ul {
    background-color:#4d303fc3;
}
.headerfarve {
    /* background-color: #A22A2A; */
}
.info {
    color: #532E31;
}


