/* FONTS */
@font-face {
    font-family: "anton";
    src: url(../fonts/Anton-Regular.ttf);
}
@font-face {
    font-family: "gasoek";
    src: url(../fonts/GasoekOne-Regular.ttf);
}
@font-face {
    font-family: "promptbold";
    src: url(../fonts/Prompt-Bold.ttf);
}
@font-face {
    font-family: "promptxtra";
    src: url(../fonts/Prompt-ExtraBold.ttf);
}
@font-face {
    font-family: "promptlight";
    src: url(../fonts/Prompt-Light.ttf);
}

h1 {
    font-family: anton;
    font-size: 100px;
    color:#6C2C25;
    cursor: pointer;
}
.burgermenu {
    font-family: promptxtra;

}
nav.active .burgermenu, .burgera {
    font-size: 20px;
    text-align: end;
  }

h2, h3, h4 {
    font-family: promptxtra;
}
p {
    font-family: promptlight;
}

/* FARVER */
.scrolled {
    background-color: #6C2C25;
}
body{
    background-color: rgb(240, 233, 223);
}

footer {
    background-color: #9F4440;
}
a {

    text-decoration: none;
    color:#9F4440;
}
a:hover {
  /* color:#801212; */
  /* color: #dbd08f; */
  color: #efe095;
  border-bottom:#dbd08f 1px solid;
}
.projects {
    background-color: #dbd08f;
  }
  .blue {
    background-color:#C8D7D3;
}


