/* HEADER */

/* BURGERMENU */
  
.burgermenu {
    display: flex;
    list-style: none;
    position: fixed;
    
    width: auto;
    color: #A22A2A;
    line-height: 40px;

  }
  
  
  /* .burgermenu li:last-child {
    margin-right: 0;
  } */
  
  .burgermenu, .burgera {
    padding: 10px;
    padding-bottom: 0;
    text-decoration: none;
    transition: color 0.3s;
    text-align: right;
    display: inline-block;
    
  }
  
  .burger {
    width: 30px;
    height: 20px;
  }
  
  .burger .line {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    margin-bottom: 5px;
    transition: 0.2s linear;
  
  }
  .headerfarve {
    height:28px;
    position: fixed;
    top: 0;
    padding:20px;
    width:800px;
  }
  @media screen {
    .burgermenu {
      display: none;
      
    }
    .burger {
      display: block;
    }
    .burger.active .line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
      transition: 0.2s linear;
    }
  
    .burger.active .line:nth-child(2) {
      opacity: 0;
      transition: 0.15s linear;
    }
  
    .burger.active .line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
      transition: 0.2s linear;
    }
  
    nav.active .burgermenu {
      display:block;
      /* position:absolute; */
      top: 67px;
      right: -20px;
      width: 100%;
      z-index: 1;
      height:100%;

    }
    
  }
    nav.active .burgermenu li {
      margin: 10px 20px;
      
    }
  
  
  .burgeroverlay {
    position: fixed;
    top: 30px;
    right: 20px;
     margin-left: 8px;
     
     
     
 }
 ul {
  width: 100%;
  
 }
  
/* MAIN */
* {
  margin: 0;
  padding: 0;
  cursor: url(../img/cursor.png), auto;
}
img {
  width: 100%;
  height: auto;
}
.overskrift {
  text-align: left;
  margin-top: 300px;
  line-height: 110px;
}
.burgeras {
  padding-top: 40px;
}
.overskrift a:hover {
  border-bottom: none;
}
.titel {
  font-size: 70px;
}
.projektlink{
  font-size: 30px;
}
.projektlink:hover {
  border-bottom: #e6d389 1px solid;
  
  
}
.projektdiv {
  text-align: center;
  margin-bottom: 20px;
}
/* .grid1_1_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */

/* Forisde */
.projects {
  margin-top: 30px;
  background-image: url(../img/cirkel_s.webp);
  background-position: center;
  background-repeat:no-repeat;
  background-size: 70%;
}
.circle {
  height: 400px;
}
.emnesiteimg, .emergencyimg, .kaffeimg, .virksomhedimg {
  width: 70%;
}
.hover-link {
  position: relative;
  color: #E4E2DD;
  font-family: promptbold;
  display: inline-block;
  font-size: 22px;
  margin-left:10px;
  margin-top: 5px;
}
.hover-billede {
  position: absolute;
  top: 20px;
  left: 100%;
  width: 200px;
  pointer-events: none;
  transition: opacity 0.3s ease;
  opacity: 0;
  z-index: 1;
}
.hover-link:hover .hover-billede {
  opacity: 1;
}

.frontdiv:first-of-type {
  margin-top: 180px;
}


.h2front {
  text-align: center;
  padding-top: 10px;
  color: #f1e9cc;
  font-size: 32px;
}


/* Underside om mig */
.mig {
  margin-top: 20%;
}
.underside {
  text-align: center;
}
.mig {
  border-bottom: #532E31 2px solid;
}
/* underside website */
.web_p1 {
  margin-top: 30px;
}
/* underside emnesite */
.alice {
  margin-top: 15%;
  border-bottom: #532E31 2px solid;
}
.emne_p1 {
  margin-top: 30px;
}
video {
  height: 100%;
  width:300px;
}
.prototype {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

/* underside emergency */
.plet {
  margin-top: 15%;
  border-bottom: #532E31 2px solid;
}
.emer_p1 {
  margin-top: 30px;
}
.emer_p3 {
  margin-top: 30px;
}
/* underside sandkasse */

.lottie {
  margin-top: 15%;
  border-bottom: #532E31 2px solid;
}
.sand_p1 {
  margin-top: 30px;
}
.sand_p3 {
  margin-top: 30px;
}


/* underside virksomhed */
.allan {
  margin-top: 15%;
  border-bottom: #532E31 2px solid;
}
.virk_p1 {
  margin-top: 30px;
}


/* FOOTER */
.footergrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-top:#532E31 2px solid;
}
.info {
  grid-column: 1/2;
  grid-row: 1/2;
}
.link {
  grid-column: 2/3;
  grid-row: 1/2;
}
.desktop {
  display: none;
}
.velkommen {
  display: none;
}
@media (width >= 580px) {

  .projektdiv {
    margin-bottom: 50px;
  }
  /* DESKTOP FORSIDE */
  .projects {
    background-image: none;
    display: none;
  }
  .desktopcircle {
    background-image:url(../img/cirkel_s.webp);
    background-position: center;
  background-repeat: no-repeat;
  height: 700px;
  background-size: 600px;
  margin-top: 10px;
  }
  .overskrift {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 8vw;
  
  }
  .desktop {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin-top: 200px;
  }
  .h2_desktop {
    text-align: left;
    margin-left: 10px;
    padding-top: 10px;
    color: #e6d389;
    font-size: 20px;
  }
  .velkommen{
    display: block;
    margin-top: 180px;
  }

  .myprojects {
  margin-left: 40px;
    margin-top: 120px;
  grid-column:3/4;
  grid-row: 1/2;
  }
  .hover-link {
    font-family: promptlight;
    color: #252422;
    font-size: 20px;
  }
  .hover-link:hover {
    color: #e6d389;
    border-bottom: #e6d389 1px solid;
  }
  .hover-billede {
    left:auto;
    right: 100%;
    
  }
  /* DESKTOP WEBSITE */

  /* DESKTOP EMNESITE */

  .projekt1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .emne_img {
    margin-top: 90px;
    margin-left:50px;
    margin-bottom: 50px;
    grid-column: 2/3;
    grid-row: 1/2;
    
  }
  .desktopemneimg {
    width: 80%;
    margin-left: 30px;
    margin-top: 40px;
  }
  .emne_p1 {
    grid-column: 1/2;
    grid-row:1/2;
    margin-top: 8vw;
    margin-left: 50px;
  }
  .prototype {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .emne_p2 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .emne_p3 {
    grid-column: 2/3;
    grid-row: 3/4;
    margin-bottom: 50px;
  }

  video {
    height: 100%;
    width:450px;
  }

  /* DESKTOP OM MIG */

  .ommig {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .portrait {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 40px;
    margin-right: 30px;
  }

  /* DESKTOP EMERGENCY */
.projekt2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.emer_img {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-top: 40px;
  margin-left: 10px;
  width: 100%;
  margin-bottom: 40px;
}
.emer_p1 {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 40px;
  margin-bottom: 80px;
  margin-left: 30px;
}
.emer_p2 {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-left: 50px;
}
.emer_p3 {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-top: 38vw;
  margin-bottom: 40px;
  margin-left: 30px;
}
.papir_img {
  width: 90%;
  grid-column: 2/3;
  grid-row: 2/3;
  margin-left: 30px;
}

/* DESKTOP SANDKASSE */
.projekt3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.sand_img {
  grid-column: 2/3;
  grid-row:1/2;
  width: 80%;
  margin-top: 80px;
  margin-left: 50px;
}
.sand_p1 {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-top: 80px;
  margin-left: 50px;
}
.lottieimg {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-top: 40px;
  margin-left: 30px;
}
.sand_p2 {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-left: 30px;
  margin-top: 50px;
}
.sand_p3 {
  grid-column: 1/2;
  grid-row: 2/4;
  margin-top: 25vw;
  margin-left: 50px;
  margin-bottom: 50px;
}

/* DESKTOP VIRKSOMHED */

.projekt4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.virk_img {
  width: 90%;
  margin-left: 30px;
  margin-top: 50px;
  grid-column: 1/2;
  grid-row: 1/2;
}
.virk_p1 {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 80px;
  margin-right: 80px;
}
.virk_p2 {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-top: 40vw;
  margin-left: 80px;
}
.virk_p3 {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 570px;
  margin-right: 80px;
}
}